{% extends 'base.html.twig' %}

{% block title %}Restaurant - {{ restaurant }}{% endblock %}

{% block body %}
    <h2>{{ restaurant }} Restaurant</h2>

    <h4>{{ info }}</h4>
    {% if sections|length > 0 %}
        <h4>There are {{ sections|length }} sections.</h4>

        {% for section in sections %}
            <p>{{ section.name }}</p>
        {% endfor %}
    {% else %}
        <div>No section have been added yet for this restaurant.</div>
    {% endif %}
        <hr>

    {% if reviews|length > 0 %}
        <h4>Restaurant have {{ reviews|length }} comments.</h4>
        {% for review in reviews %}
            <p>Review by {{ review.author }}, with rating - {{ review.rating }}, created at {{ review.createdAt|date('H:i Y-m-d') }}</p>
        {% endfor %}

        {% if previous >= 0 %}
            <a href="{{ path('restaurant', { slug: restaurant.slug, offset: previous }) }}">Previous</a>
        {% endif %}
        {% if next < reviews|length %}
            <a href="{{ path('restaurant', { slug: restaurant.slug, offset: next }) }}">Next</a>
        {% endif %}
    {% else %}
        <div>No comments have been added yet for this restaurant.</div>
    {% endif %}

    <hr>
    <h2>Add your own feedback</h2>
        {{ form(review_form) }}

{% endblock %}